{# Page Content #}
{% extends 'layouts/base.html.twig' %}
    
{% block head_title %}Home{% endblock %}

{% block body %}
<div class="row mt-3">

    {# Информация о системном диске #}
    <div class="col-xl-3 col-md-6">
        <div class="card fixed-height-card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="knob-chart invisible" dir="ltr">
                        {% set diskColor = (disk.used_percent > 70) ? '#f05050' : '#23b397' %}
                        <input data-plugin="knob" data-width="70" data-height="70" data-fgColor="{{ diskColor }}"
                            data-bgColor="#ebeff2" value="{{ disk.used_percent }}"
                            data-skin="tron" data-angleOffset="0" data-readOnly=true
                            data-thickness=".15"/>
                    </div>
                    <div class="text-end">
                        <h3 class="mb-1 mt-0"> <span data-plugin="counterup">{{ disk.total }}</span> {{ 'disk.unit'|trans({}, 'home') }} </h3>
                        <p class="text-muted mb-0">{{ 'disk.name'|trans({}, 'home') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->

    {# Информация о оперативной памяти #}
    <div class="col-xl-3 col-md-6">
        <div class="card fixed-height-card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="knob-chart invisible" dir="ltr">
                        {% set ramColor = (ram.used_percent > 70) ? '#f05050' : '#23b397' %}
                        <input data-plugin="knob" data-width="70" data-height="70" data-fgColor="{{ ramColor }}"
                            data-bgColor="#ebeff2" value="{{ ram.used_percent }}"
                            data-skin="tron" data-angleOffset="0" data-readOnly=true
                            data-thickness=".15"/>
                    </div>
                    <div class="text-end">
                        <h3 class="mb-1 mt-0"> <span data-plugin="counterup">{{ ram.total }}</span> {{ 'ram.unit'|trans({}, 'home') }} </h3>
                        <p class="text-muted mb-0">{{ 'ram.name'|trans({}, 'home') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->

    {# Информация о курсе валюты USD #}
    <div class="col-xl-3 col-md-6">
        <div class="card fixed-height-card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="knob-chart invisible" dir="ltr">
                        <h3 class="my-1 py-1 mb-2">₽ <span data-plugin="counterup">{{ rates.usd.value }}</span></h3>
                        <p class="mb-0 text-muted">
                            {% set differenceClass      = (rates.usd.difference >= 0) ? 'mdi-arrow-down-bold' : 'mdi-arrow-up-bold' %}
                            {% set differenceClassColor = (rates.usd.difference >= 0) ? 'text-primary'        : 'text-success' %}
                            {% set differenceClass      = (rates.usd.difference == 0) ? '' : differenceClass  %}
                            {% set differenceClassColor = (rates.usd.difference == 0) ? '' : differenceClassColor  %}
                            <span class="{{ differenceClassColor }} me-2"><span class="mdi {{ differenceClass }}"></span> {{ rates.usd.difference >= 0 ? rates.usd.difference : -rates.usd.difference }}</span>
                            <span class="text-nowrap">{{ rates.usd.date }} ({{ 'exchange_rates.info'|trans({}, 'home') }})</span>
                        </p>
                    </div>
                    <div class="avatar-sm">
                        <span class="avatar-title bg-soft-success rounded">
                            <i class="ri-money-dollar-box-line font-20 text-success" style="font-size:30px !important;"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->

    {# Информация о курсе валюты EUR #}
    <div class="col-xl-3 col-md-6">
        <div class="card fixed-height-card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="knob-chart invisible" dir="ltr">
                        <h3 class="my-1 py-1 mb-2">₽ <span data-plugin="counterup">{{ rates.eur.value }}</span></h3>
                        <p class="mb-0 text-muted">
                            {% set differenceClass      = (rates.eur.difference >= 0) ? 'mdi-arrow-down-bold' : 'mdi-arrow-up-bold' %}
                            {% set differenceClassColor = (rates.eur.difference >= 0) ? 'text-primary'        : 'text-success' %}
                            {% set differenceClass      = (rates.eur.difference == 0) ? '' : differenceClass  %}
                            {% set differenceClassColor = (rates.eur.difference == 0) ? '' : differenceClassColor  %}
                            <span class="{{ differenceClassColor }} me-2"><span class="mdi {{ differenceClass }}"></span> {{ rates.eur.difference >= 0 ? rates.eur.difference : -rates.eur.difference }}</span>
                            <span class="text-nowrap">{{ rates.eur.date }} ({{ 'exchange_rates.info'|trans({}, 'home') }})</span>  
                        </p>
                    </div>
                    <div class="avatar-sm">
                        <span class="avatar-title bg-soft-success rounded">
                            <i class="ri-money-euro-box-line font-20 text-success" style="font-size:30px !important;"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->

</div>
<!-- end row -->

<div class="row">

    <div class="col-xl-6">
        <!-- Portlet card -->
        <div class="card">
            <div class="card-body">
                <div class="card-widgets">
                    <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
                    <a data-bs-toggle="collapse" href="#cardCollpase1" role="button" aria-expanded="false" aria-controls="cardCollpase1"><i class="mdi mdi-minus"></i></a>
                    <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
                </div>
                <h4 class="header-title mb-0">USD/RUB</h4>

                <div id="cardCollpase1" class="collapse pt-3 show" dir="ltr">
                    <div id="apex-usd" class="apex-charts" data-colors="#f672a7"></div>
                </div> <!-- collapsed end -->
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col-xl-6">
        <!-- Portlet card -->
        <div class="card">
            <div class="card-body">
                <div class="card-widgets">
                    <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
                    <a data-bs-toggle="collapse" href="#cardCollpase2" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                    <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
                </div>
                <h4 class="header-title mb-0">EUR/RUB</h4>

                <div id="cardCollpase2" class="collapse pt-3 show" dir="ltr">
                    <div id="apex-eur" class="apex-charts" data-colors="#f672a7"></div>
                </div> <!-- collapsed end -->
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col-->

</div>
<!-- end row -->
{% endblock %}

{% block page_java_script %}
    <!-- KNOB JS -->
    <script src="/source/base/libs/jquery-knob/jquery.knob.min.js"></script>
    
    <!-- Apex js-->
    <script src="/source/base/libs/apexcharts/apexcharts.min.js"></script>

    <script>
    var chartValUsd  = [{{ chart.usd.series }}];
    var chartCatUsd  = [{{ chart.usd.categories|raw }}];
    var chartValEur  = [{{ chart.eur.series }}];
    var chartCatEur  = [{{ chart.eur.categories|raw }}];
    var chartLocale  = '{{ chart.locale }}';
    var chartValName = '{{ 'exchange_rates.val_name'|trans({}, 'home') }}';
    </script>

    <!-- init js -->
    <script src="/source/base/js/pages/apexcharts.init.js?1"></script>
{% endblock %}

{% block page_more_style %}
<style>
.fixed-height-card {
    height: 118px !important;
    min-height: 118px !important;
}

.fixed-height-card .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}
</style>
{% endblock %}

{% block page_more_java_script %}
<script>
    $(document).ready(function(){
        
        // Fix bug on load page
        $('.knob-chart').removeClass('invisible');

        // Knob-chart start animation
        $(".knob-chart input").knob();
        $('.knob-chart input').each(function(){
            var obj = $(this);
            var graphicValue = parseInt(obj.val());
            $({animatedVal: 0}).animate({animatedVal: graphicValue}, {
                duration: 2000,
                easing: "swing",
                step: function() {
                obj.val(Math.ceil(this.animatedVal)).trigger("change");
                }
            });
        });
        
    });
</script>
{% endblock %}