{% if pageCount > 1 %}
<ul class="pagination pagination-rounded">
    {% if previous is defined %}
        <li class="page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="page-item active">
                <a class="page-link" href="javascript:void(0);">{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if next is defined %}
        <li class="page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    {% endif %}
</ul>
{% endif %}